<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
    <form method="POST" action="{{ url_for('login') }}">
        <h1>Login</h1>
        <div class="input_box">
        <input type="email" name="email" placeholder="Email" required>
        <i class='bx bx-envelope' ></i>
        </div>
        <div class="input_box">
        <input type="password" name="password" placeholder="Password" required>
        <i class='bx bxs-lock' ></i>
        </div>
        <button type="submit" class="btn">Login</button>
        <div class="register_link">
           <p> Don't have an Account<a href="{{ url_for('signup') }}">Sign Up</a></p>
        </div>
    </form>
    </div>
</body>
</html>